@import '/src/styles/variables';

.profile-image-wrap {
  @media #{$bp-pc} {
    @include profile-image-wrap(90px);
  }

  margin-right: 20px;

  @media #{$bp-tab} {
    @include profile-image-wrap(60px);
  }
}

.validation-message {
  color: $red;
  font-size: 0.8em;
  margin-top: 1em;
}

.post-tweet {
  border: 1px solid $gray;
  width: 70%;
  margin: 0 auto;
  padding: 14px;
  display: flex;

  @media #{$bp-tab} {
    width: 90%;
  }

  &.not-loggedin {
    position: relative;
    pointer-events: none;

    &:before {
      content: '投稿するには Log In | Sign Up をお願いします。';
      font-family: 'Noto Sans JP';
      font-size: 18px;
      //text-shadow: 0px 0px 1px #000;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 4;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

.post-tweet-form {
  width: 100%;
}

.tweet-text-input {
  width: 100%;
  font-size: 18px;

  @media #{$bp-tab} {
    font-size: 15px;
  }
}

.push-interface {
  display: flex;
  align-items: center;

  .tweet-post-image {
    margin-right: 14px;
    margin-bottom: 0;
  }

  .image-input-label {
    margin-bottom: 0;
  }
}

.ticker-box {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.ticker-label {
  margin-right: 14px;
  margin-bottom: 0;
}

.ticker-container {
  @include ticker-container;
}

.ticker {
  position: relative;
  @include ticker;
  margin-bottom: 10px;
  padding: 4px 20px 4px 10px;

  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 0.4em;
    top: 50%;
    transform: translateY(-50%);
    width: 1em;
    height: 1em;
    background: url('/images/remove.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.pc-ui {
  @media #{$bp-sp} {
    display: none;
  }
}

.sp-post-trigger {
  position: fixed;
  z-index: 10;
  bottom: 4px;
  right: 14px;
  font-size: 12px;
  width: 60px;
  background: $blue;
  padding: 1em 0;
  border-radius: 6px;
  color: #fff;
  text-align: center;
}

.sp-ui-window {
  display: none;
  @media #{$bp-sp} {
    display: block;
    opacity: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    transform: translateX(100%);
    transition: 0.2s;
    background: #fff;
    pointer-events: none;
    &.sp-ui-window-active {
      opacity: 1;
      pointer-events: auto;
      transform: translateX(0);
    }
  }
  .ticker-container {
    padding: 0 14px;
  }
  .ticker-input {
    height: 24px;
    width: 80px;
  }
  .validation-message-container {
    padding: 0 14px;
  }
}
.sp-ui-top {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.sp-ui-cancel {
  color: white;
  background: $red;
  width: 100px;
  text-align: center;
  border-radius: 4px;
  padding: 0.4em 0;
  font-size: 14px;
}
.sp-ui-post {
  color: white;
  background: $blue;
  width: 100px;
  text-align: center;
  border-radius: 4px;
  padding: 0.4em 0;
  font-size: 14px;
}
.sp-tweet-input-container {
  display: flex;
  padding: 10px 14px;
  .tweet-text-input {
    border: none;
  }
}

.sp-ticker-image-container {
  display: flex;
  align-items: center;
  padding: 0 14px;
  .tweet-post-image {
    margin-left: 20px;
  }
  .image-input-label {
    width: 42px;
    height: 42px;
    margin-bottom: 0;
  }
}

.sp-ticker-option-item {
  background: #fff;
  margin-bottom: 8px;
  padding: 0.8em;
  display: block;
}

.sp-ticker-option-name {
  display: block;
  color: #666;
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

.sp-ticker-option-symbol {
  font-weight: bold;
}

.sp-ticker-option-exchange {
  color: #666;
  font-size: 0.9em;
  display: inline-block;
  margin-left: 1em;
}

.ticker-options-container {
  overflow-y: scroll;
  max-height: 50vh;
}
